.hidden {
  opacity: 0;
}

.z-position {
  z-index: 10;
}

.animate-fadeup {
  opacity: 0;
}

.animate-slide-left {
  opacity: 0;
}

.fade-up {
  animation: fade-up 1.2s;
}

.slide-left {
  animation: slide-left 1s;
}

@keyframes slide-left {
    from {opacity: 0.2; transform: translateX(-50px);}
    to {opacity: 1;}
}

@keyframes fade-up {
    from {opacity: 0.2; transform: translateY(50px);}
    to {opacity: 1;}
}
