.frame-wrapper {
  max-width: 1048px;
  padding: 0px 20px;
  margin: auto;
}
.image-container {
  img {
    width: 100%;
    display: inline-block;
    &.max-limit {
      max-width: 350px;
    }
  }
}
.app__header {
  max-width: 740px;
  padding: 20px;
  margin: auto;
  text-align: center;
  background: #fff;
}
.stack-card {
  width: 140px;
  height: 100px;
  margin: 0px 20px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-shadow: 0 8px 30px rgba(118,85,225,.15);
  img {
    max-width: 80px;
    display: inline-block;
  }
  &:hover {
    cursor: text;
  }
}
